body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(36, 48, 66);
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

nav {
  background-color: rgb(57, 75, 99);
}

a:hover {
  text-decoration: none;
}

.nav-container {
  width: 70%;
  margin: 0 auto;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header h1 {
  font-size: 3rem;
  font-weight: 600;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #eee;
  background-color: brown;
  border-radius: 10px;
}

.logs a {
  font-size: 15px;
  color: whitesmoke;
}

form {
  display: flex;
  margin: 2rem;
}

.cat-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
}

select {
  background-color: #3c9651;
  border: 1px solid #3c9651;
  color: white;
  border-radius: 5px;
  width: 80px;
  height: 39px;
  list-style-type: none;
}

.movie-container {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  height: 100%;
  padding: 2rem;
  background-color: rgb(57, 75, 99);
}

.card p {
  font-size: 12px;
}

.movie-details {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  color: white;
}

.movie-details img {
  width: 30%;
}

.movie-details.card-body {
  float: left;
}

.no-data {
  color: rgb(134, 75, 75);
  font-size: 18px;
}

@media only screen and (max-device-width: 480px) {
  .cat-container {
    width: 100%;
    flex-direction: column;
  }

  .movie-container {
    width: 100%;
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 780px) {
  .movie-container {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}
